h1 {
    font-size: 60px;
    text-align: center;
    letter-spacing: 50px;
    margin-right: 50px;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .content-box {
    margin-left: 200px;
    width: 75%;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: blue;
  }
  
  .content {
    width: 100%;
    animation: fadeInOut 4s infinite;
    opacity: 0;
    font-size: 60px;
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    0%, 33.33% {
      opacity: 1;
    }
    66.66%, 100% {
      opacity: 1;
    }
  }
  
  .description {
    width: 75%;
    margin-left: 200px;
    margin-top: 30px;
    font-size: 30px;
  }
  
  .content-box1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .box {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 10px;     
    text-align: center;
    height: 100px;
    width: 200px;
    font-size: 24px;
  }

  .box:hover {
    background-color:  #757070;;
    font-size: 28px;
  }

  .technologies {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .technology {
    padding: 10px 20px;
    margin: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .technology:nth-child(1) { background-color: #FF5733; }
.technology:nth-child(2) { background-color: #61DAFB; } 
.technology:nth-child(3) { background-color: #3776AB; } 
.technology:nth-child(4) { background-color: #E44D26; } 
.technology:nth-child(5) { background-color: #2965F1; } 
.technology:nth-child(6) { background-color: #68A063; } 
.technology:nth-child(7) { background-color: #00758F; } 
.technology:nth-child(8) { background-color: #918d8d; } 
.technology:nth-child(9) { background-color: #386856; } 
.technology:nth-child(10) { background-color: #2496ED; } 