body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #5344288c;
}

h1 {
    text-align: center;
}

input {
    border-radius: 20px;
    width: 50%;
    text-align: center;
    height: 30px;
}

  .info-container {
    flex: 2;
    padding-left: 10px;
  }
  
  /* Ajustes para el título */
  .info-container h2 {
    margin-top: 0;
  }
  
  /* Estilos para los párrafos de información */
  .info-container p {
    margin: 5px 0;
  }
  .countries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .country-box {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: beige;
  }
  
  .country-box h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .country-box p {
    margin: 5px 0;
  }

/* Estilos para los botones */
#buttonsContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #ad691a;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  button:focus {
    outline: none;
  }
  